{% extends '::admin_layout.html.twig' %}

{% block body %}
    <h1>Редактирование товара</h1>

    <form class="form-horizontal inline-checkbox" action="{{ path('goods_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
        <input type="hidden" name="_method" value="PUT" />

        {{ form_widget(edit_form, {'form_type': 'horizontal'}) }}

        {% for image in edit_form.vars.data.images %}
            <li class="photo">
                <a href='#' class='delete-photo'></a>
                <img src="{{ image.src|thumbnail('goods_photo', '54x50') }}" alt="" width="75px">
                <input type="hidden" name="goods[images][]" value="{{ image.src }}" >
            </li>
        {% endfor %}

        <div class="control-group">
            <div class="form-actions">
                <button type="submit" class="btn btn-primary">Сохранить</button>
				<a class="btn" href="{{ path('category') }}">Вернуться к списку</a>
            </div>
        </div>
    </form>

{% endblock %}
