{% extends '::admin_layout.html.twig' %}

{% block body %}
    <h1>Товары</h1>

    {% if entities %}
    <table class="records_list table table-condensed table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
                <th>Moderated</th>
                <th>Rejected</th>
                <th>Created at</th>
                <th>Updated at</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('goods_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.name }}</td>
                <td>{{ entity.description }}</td>
                <td>{{ entity.price }} {{ entity.currency ? entity.currency.value : '' }}</td>
                <td>{{ entity.isModerated ? 'Да' : 'Нет' }}</td>
                <td>{{ entity.isRejected ? 'Да' : 'Нет' }}</td>
                <td>{% if entity.createdAt %}{{ entity.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.updatedAt %}{{ entity.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
					<a class="btn" href="{{ path('goods_show', { 'id': entity.id }) }}">show</a>
					<a class="btn" href="{{ path('goods_edit', { 'id': entity.id }) }}">edit</a>
				</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
        <div class="no-records-msg">
            В базе нет товаров
        </div>
    {% endif %}

        <!--<a class="btn btn-success" href="{{ path('goods_new') }}">Создать новый товар</a>-->
    {% endblock %}
