{% extends '::admin_layout.html.twig' %}

{% block body %}
    <h1>Товар</h1>

    <table class="record_properties table table-condensed table-hover">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ entity.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ entity.description }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ entity.price }} {{ entity.currency ? entity.currency.value : '' }}</td>
            </tr>
            <tr>
                <th>Created at</th>
                <td>{{ entity.createdAt|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Updated at</th>
                <td>{{ entity.updatedAt|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Photos</th>
                <td>
                    {% for image in entity.photos %}
                        <img src="{{ image.src|thumbnail('goods_photo', '54x50') }}" alt="">
                    {% endfor %}
                </td>
            </tr>
        </tbody>
    </table>

    <a class="btn" href="{{ path('goods') }}">Вернуться к списку</a>

    <h2>Модерация</h2>

    <form class="form-horizontal" action="{{ path('goods_save_moderation_form', { 'id': entity.id }) }}" method="post" {{ form_enctype(moderation_form) }}>
        {{ form_widget(moderation_form, {'form_type': 'horizontal'}) }}
        <div class="control-group">
            <div class="form-actions">
                <button type="submit" class="btn btn-primary">Сохранить</button>
            </div>
        </div>
    </form>

    <br/>
	<div class="buttons-container">
		<form action="{{ path('goods_delete', { 'id': entity.id }) }}" method="post" style="float:right">
			<button class="btn btn-danger" type="submit" onclick="return confirm('Do you really want to remove this element?');">Delete</button>
			<input type="hidden" name="_method" value="DELETE" />
			{{ form_widget(delete_form) }}
		</form>

		<a class="btn btn-success right" href="{{ path('goods_edit', { 'id': entity.id }) }}">
			Редактировать товар
		</a>
	</div>
{% endblock %}
