<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Dashboard{% endblock %}</title>

    {% block stylesheets %}
        {% stylesheets
        'bundles/brandscore/css/*'
        'bundles/xsolvebootstrapcrud/css/examplelayout.css'  %}
        <link rel="stylesheet" href="{{ asset_url }}"/>
        {% endstylesheets %}
    {% endblock %}

    {% block javascriptstop %}
        {% javascripts
		'bundles/brandscore/js/*'
		%}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endblock %}

    <link rel="icon" sizes="16x16" href="{{ asset('favicon.ico') }}"/>

</head>
{% block bootstrap_navbar %}
<!-- Navbar
================================================== -->
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container container-fluid">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="brand"
               href="{% block bootstrap_title_link %}{% endblock %}">{% block bootstrap_title %}Bootstrap{% endblock %}</a>

            <div class="nav-collapse collapse row-fluid">
                {% block bootstrap_menu %}
                    {{ knp_menu_render('BrandsAdminBundle:Builder:topMenu') }}
                {% endblock %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block bootstrap_subhead %}
{% endblock %}

<div class="container container-fluid">

    {% for flashKey, flashMessage in app.session.flashbag.get('notice') %}
        <div class="flash-notice img-rounded btn btn-info disabled btn-block" style="margin: 10px 0px;">
            {{ flashMessage }}
        </div>
    {% endfor %}

    <!-- Docs nav
    ================================================== -->
    <div class="row row-fluid">
        {% block mainbody %}
            <div class="span3 bs-docs-sidebar visible-desktop">
                {% block bootstrap_leftmenu %}
                    {{ knp_menu_render('BrandsAdminBundle:Builder:mainMenu') }}
                {% endblock %}
            </div>
            <div class="span9">
                <section>
                    {% block body %}
                        <section id="contents">
                            <div class="page-header">
                                <h1>1. What's included</h1>
                            </div>
                            <p class="lead">Bootstrap comes equipped with HTML, CSS, and JS for all sorts of things, but
                                they can be summarized with a handful of categories visible at the top of the <a
                                        href="http://getbootstrap.com">Bootstrap documentation</a>.</p>
                        </section>
                    {% endblock %}
                </section>
            </div>
        {% endblock %}
    </div>

</div>


<!-- Footer
================================================== -->
{% block bootstrap_footer %}
    <footer class="footer">
        <div class="container">
            <p>&nbsp;</p>
            <ul class="footer-links">
                <li class=""><a href="#home">Home</a></li>
                <li class="muted">&middot;</li>
                <li class=""><a href="#getting-started">Getting started?</a></li>
            </ul>
        </div>
    </footer>
{% endblock %}

{% block javascripts %}{% endblock %}
</body>
</html>
