<!DOCTYPE html>
<html>
<head>
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimal-ui" />
	<meta name="apple-mobile-web-app-status-bar-style" content="yes" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<title>{% block title %}BRANDS.BY{% endblock %}</title>
	<link rel="stylesheet" href="http://dev3.brands.by/style/css/structure.css"/>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
</head>
<body class="{% block body_class %}{% endblock %}">
	{% block content %}{% endblock %}
</body>

