{% extends '::admin_layout.html.twig' %}

{% block body %}
    <h1>Новая категория</h1>

    <form class="form-horizontal inline-checkbox" action="{{ path('category_create') }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form, {'form_type': 'horizontal'}) }}
        <div class="control-group">
            <div class="form-actions">
                <button type="submit" class="btn btn-primary">Создать</button>
                <a class="btn" href="{{ path('category') }}">Вернуться к списку</a>
            </div>
        </div>
    </form>

{% endblock %}

