{% extends '::admin_layout.html.twig' %}

{% block body %}
    <h1>{{ entity.id ? 'Редактирование категории' : 'Новая категория' }}</h1>

    <form class="form-horizontal inline-checkbox" action="{{ entity.id ? path('category_update', { 'id': entity.id }) : path('category_create') }}" method="post" {{ form_enctype(form) }}>
        {% if entity.id %}
            <input type="hidden" name="_method" value="PUT" />
        {% endif %}
        {{ form_widget(form, {'form_type': 'horizontal'}) }}
        <div class="control-group">
            <div class="form-actions">
                <button type="submit" class="btn btn-primary">Сохранить</button>
				<a class="btn" href="{{ path('category') }}">Вернуться к списку</a>
            </div>
        </div>
    </form>

{% endblock %}
