{% extends '::admin_layout.html.twig' %}

{% block body %}
    <h1>Список категорий</h1>

    {% if entities %}
    <table class="records_list table table-condensed table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Internalid</th>
                <th>Materializedpath</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('category_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.name }}</td>
                <td>{{ entity.internalId }}</td>
                <td>{{ entity.materializedPath }}</td>
                <td>
					<a class="btn" href="{{ path('category_show', { 'id': entity.id }) }}">show</a>
					<a class="btn" href="{{ path('category_edit', { 'id': entity.id }) }}">edit</a>
				</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
        <div class="no-records-msg">
            Список категорий пуст
        </div>
    {% endif %}

        <a class="btn btn-success" href="{{ path('category_new') }}">Создать новую категорию</a>
    {% endblock %}
