{% extends '::admin_layout.html.twig' %}

{% block body %}
    <h1>Category</h1>

    <table class="record_properties table table-condensed table-hover">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ entity.name }}</td>
            </tr>
            <tr>
                <th>Internalid</th>
                <td>{{ entity.internalId }}</td>
            </tr>
            <tr>
                <th>Materializedpath</th>
                <td>{{ entity.materializedPath }}</td>
            </tr>
            <tr>
                <th>Createdat</th>
                <td>{{ entity.createdAt|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Updatedat</th>
                <td>{{ entity.updatedAt|date('Y-m-d H:i:s') }}</td>
            </tr>
        </tbody>
    </table>

    <div class="buttons-container">
        <a class="btn" href="{{ path('category') }}">Вернуться к списку</a>
        <form action="{{ path('category_delete', { 'id': entity.id }) }}" method="post" style="float:right">
            <button class="btn btn-danger" type="submit" onclick="return confirm('Do you really want to remove this element?');">Delete</button>
            <input type="hidden" name="_method" value="DELETE" />
            {{ form_widget(delete_form) }}
        </form>
        <a class="btn btn-success right" href="{{ path('category_edit', { 'id': entity.id }) }}">Редактировать</a>
    </div>
{% endblock %}
