{% trans_default_domain 'FOSUserBundle' %}

<script>
    $(document).ready(function() {
        if(!$('#fos_user_registration_form_shops_0_subscriptionType_24').is('checked')) {
            $('#fos_user_registration_form_shops_0_subscriptionType_25').prop('checked', true);
        }

        // нет сайта
        $('#fos_user_registration_form_shops_0_subscriptionType_25').on('change', function() {
            $('.external-catalog-link').hide();
        })

        $('#fos_user_registration_form_shops_0_subscriptionType_24').on('change', function() {
            $('.external-catalog-link').show();
        })

        // переключение working time
        $('.working_time input[type="checkbox"]').change(function() {
            var parent = $(this).closest('div');
            console.log( $(parent).find('input[type="text"]'))
            window.a = $(parent).find('input[type="text"]');
            if($(this).is(':checked')) {
                $(parent).find('input[type="text"]').attr('disabled', false);
            } else {
                $(parent).find('input[type="text"]').val('');
                $(parent).find('input[type="text"]').attr('disabled', true);
            }
        })

        $('.working_time input[type="checkbox"]').each(function() {
            $(this).change();
        })

        $('.register-button').click(function(){
            $('form').submit();
        });
        
    })
</script>
<div id="container">
    <h1 class="reg-form-title">Регистрация</h1>
    <div class="form-container">
        <form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register reg-form">
			<!-- {{ form_widget(form.shops[0].subscriptionType) }} -->
            <div class="one-input">
                <label>Тип регистрации</label>
                <div class="radio-group">
                    <label for="fos_user_registration_form_shops_0_subscriptionType_25" class="radio required">
                        <input type="radio" class="radio" id="fos_user_registration_form_shops_0_subscriptionType_25" name="fos_user_registration_form[shops][0][subscriptionType]" required="required" value="25">
                        У нас нет сайта с каталогом вещей
                        <div class="radio-hint">Вы получите сайт с адресом login.brands.by</div>
                    </label>
                    <label for="fos_user_registration_form_shops_0_subscriptionType_24" class="radio required">
                        <input type="radio" class="radio" id="fos_user_registration_form_shops_0_subscriptionType_24" name="fos_user_registration_form[shops][0][subscriptionType]" required="required" value="24">
                        У нас есть сайт с каталогом вещей
                        <div class="radio-hint">Мы подключим ваш сайт к нашей системе</div>
                    </label>
                </div>
            </div>

            <div class="one-input">
                {{ form_label(form.username, 'Логин') }}
                {{ form_widget(form.username) }}
				<div class="error">{{ form_errors(form.username) }}</div>
                <div class="hint">Латинские буквы и цифры, не менее 6 символов. Изменить логин будет нельзя.</div>
            </div>
            <div class="one-input">
                {{ form_label(form.plainPassword.first, 'Пароль') }}
                {{ form_widget(form.plainPassword.first) }}
				<div class="error">{{ form_errors(form.plainPassword.first) }}</div>
                <div class="hint">Латинские буквы и цифры, не менее 6 символов.</div>
            </div>
            <div class="one-input">
                {{ form_label(form.plainPassword.second, 'Подтвердите пароль') }}
                {{ form_widget(form.plainPassword.second) }}
				<div class="error">{{ form_errors(form.plainPassword.second) }}</div>
            </div>
            <div class="one-input">
                {{ form_label(form.email, 'Электронная почта') }}
                {{ form_widget(form.email) }}
				<div class="error">{{ form_errors(form.email) }}</div>
            </div>
            <div class="one-input">
                {{ form_label(form.shops[0].name, 'Название') }}
                {{ form_widget(form.shops[0].name) }}
				<div class="error">{{ form_errors(form.shops[0].name) }}</div>
            </div>
            <div class="one-input">
				{{ form_label(form.shops[0].site, 'Сайт') }}
				{{ form_widget(form.shops[0].site, {'attr': {'placeholder': 'http://mysite.com/'}}) }}
				<div class="error">{{ form_errors(form.shops[0].site) }}</div>
            </div>
            <div class="one-input">
                {{ form_label(form.shops[0].address, 'Адрес') }}
                {{ form_widget(form.shops[0].address) }}
				<div class="error">{{ form_errors(form.shops[0].address) }}</div>
                <div class="hint">Если указан сайт, поле можно не заполнять. Но если у вас есть торговая точка&nbsp;&mdash; рекомендуем заполнить поле.</div>
            </div>
            <div class="one-input">
				{{ form_label(form.shops[0].phones, 'Номера телефонов') }}
				{{ form_widget(form.shops[0].phones) }}
				<div class="error">{{ form_errors(form.shops[0].phones) }}</div>
            </div>
			<div class="one-input external-catalog-link" style="display: none;">
				{{ form_label(form.shops[0].externalCatalogLink, 'Ссылка на xml каталог') }}
				{{ form_widget(form.shops[0].externalCatalogLink) }}
				<div class="error">{{ form_errors(form.shops[0].externalCatalogLink) }}</div>
			</div>
            <div class="one-input reg-button">
                <div class="label"></div>
                <a href="#" class="register-button">Зарегистрироваться</a>
            </div>
        </form>
    </div>
</div>
</body>