{% extends "base.html.twig" %}

{% block body_class %}register-page{% endblock body_class %}

{% block content %}
<div id="container">
    {% include "FOSUserBundle:Registration:register_content.html.twig" %}
</div>
{% endblock content %}


