{% extends "base.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block body_class %}login-page{% endblock body_class %}

{% block content %}
{% if error %}
    <div class="auth-error">{{ error|trans }}</div>
{% endif %}
<div class="auth-form" id="container">
	<form action="{{ path("fos_user_security_check") }}" method="post">
		<input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

		<label for="username">Логин</label>
		<input type="text" id="username" name="_username" value="{{ last_username }}" required="required" />

		<label for="password">{{ 'security.login.password'|trans }}</label>
		<input type="password" id="password" name="_password" required="required" />

		<input type="checkbox" id="remember_me" name="_remember_me" value="on" />
		<label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>

		<input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />
	</form>
</div>
{% endblock content %}