{% extends "base.html.twig" %}
{% set catalogHelperNamespace = 'Brands\\CoreBundle\\Helper\\' %}

{% block body_class %}register-confirm-page{% endblock body_class %}

{% block content %}
    <div>Мы вас зарегистрировали</div>
	<div><a href="#">Перейти в личный кабинет</a></div>

	{% if app.user.shops[0].subscriptionType.internalId == 'dealer' and not app.user.shops[0].site %} {#constant(catalogHelperNamespace~'CatalogHelper::CATALOG_ITEM_SUBSCRIPTION_DEALER')#}
		<div>Так же вы можете посетить свой личный сайт: <a href="http://{{ app.user.username }}.brands.by">http://{{ app.user.username }}.brands.by</a></div>
	{% endif %}
{% endblock %}